#bg-container {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-top: 20vh;
}

#cover-msg {
    color: white;
}

.full-screen-page {
    width: 100%;
    height: 100vh;
}

#start-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-page::before {
    content: " ";
    background-image: url("img/Border.png");
    background-position: top;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

h1:lang(ja) {
    font-family: 'Kosugi Maru', sans-serif;
}

h4 {
    font-family: 'Patrick Hand', cursive;
}

#start-page-svg svg {
    width: 50vw;
    height: 50vh;
}

#scroll-arrow-hint {
    position: absolute;
    bottom: 25vh;
}

#scroll-arrow-hint span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

#scroll-arrow-hint span:nth-child(2) {
    animation-delay: -0.2s;
}

#scroll-arrow-hint span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes pathAnimation {
    to {
        stroke-dashoffset: 0;
    }
}

#drawpile-image {
    width: 100%;
    object-fit: cover;
}

#audio-mix-sect {
    margin: 20px;
}

#audio-mix-player-container {
    padding: 5px;
}

#birthday-msgs {
    margin: 20px;
}

.birthday-msg-card-container {
    margin-bottom: 10px;
}

.birthday-msg-card {
    padding: 10px;
    box-shadow: 5px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

blockquote:lang(ja)>p {
    font-family: 'Kosugi Maru', sans-serif;
}

blockquote>p {
    font-family: 'Architects Daughter', cursive;
}

#end-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sender-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-details-left {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.sender-details-left > * {
    display: block;
    margin-left: 15px;
}

.sender-details-left > *:first-child {
    margin-left: unset;
}

.flag-icon {
    font-size: 1.5rem;
}

img.ankimo-img {
    width: 39px;
}

img.shooting-star-img {
    width: 39px;
}

@media (max-width: 700px) {
    .card-columns {
        column-count: 1;
    }

    #start-page-svg svg {
        width: 90vw;
        height: 50vh;
    }
}

@media (min-width: 700px) {
    .card-columns {
        column-count: 2;
    }

    #start-page-svg svg {
        width: 80vw;
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
    }

    #start-page-svg svg {
        width: 70vw;
        height: 50vh;
    }
}

@media (min-width: 1400px) {
    /* .card-columns {
        column-count: 4;
    } */
}