.bg-container {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
}

.bg {
    /* background-image: url("img/placeholder.png"); */
    /* background-repeat: no-repeat; */
    background-color:#2f70e0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-top: 20vh;
}

.full-screen-page {
    width: 100%;
    height: 100vh;
}

.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#drawpile-image {
    width: 100%;
    object-fit: cover;
}

.birthday-msgs {
    margin: 20px;
}

.birthday-msg-card-container {
    margin-bottom: 10px;
}

.birthday-msg-card {
    padding: 10px;
}

.end-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}